<ng-serve-form [formGroup]="formGroup" saveText="Send" [saveDisabled]="formGroup.invalid" (save)="save()" [saving]="(saving$ | async) || false">
  <ng-serve-form-field [control]="firstName" label="First Name">
    <input matInput
        formControlName="firstName" />
  </ng-serve-form-field>

  <ng-serve-form-field [control]="email" label="Email">
      <input matInput
          formControlName="email" />
  </ng-serve-form-field>

  <ng-serve-form-field [control]="password" label="Password">
      <input matInput
          type="password"
          formControlName="password" />
  </ng-serve-form-field>

  <ng-serve-form-field [control]="numericField" label="Numeric Field">
      <input matInput
        type="text"
        formControlName="numericField" />
  </ng-serve-form-field>
</ng-serve-form>
