<form [formGroup]="formGroup" class="user-login-form">
  <label class="user-login-form__label">First Name</label>
  <input class="user-login-form__input" type="text"
          formControlName="firstName" />
  <span class="user-login-form__validation-message"
        [ngServeValidationDisplay]="firstName"
        fieldName="First Name">
  </span>

  <label class="user-login-form__label">Email</label>
  <input class="user-login-form__input"
          type="email"
          formControlName="email" />
  <span class="user-login-form__validation-message"
        [ngServeValidationDisplay]="email"
        fieldName="Email">
  </span>


  <label class="user-login-form__label">Password</label>
  <input class="user-login-form__input"
          type="password"
          formControlName="password"
  />
  <span class="user-login-form__validation-message"
        [ngServeValidationDisplay]="password"
        fieldName="Password">
  </span>

  <label class="user-login-form__label">Numeric Field</label>
  <input class="user-login-form__input"
        type="text"
        formControlName="numericField" />
  <span class="user-login-form__validation-message"
        [ngServeValidationDisplay]="numericField"
        fieldName="NumericField">
  </span>

  <button class="user-login-form__button">Save</button>
</form>
